/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nfdata-omics/test-datasets/R2T2P/'
}

params {
    cpus = 1
    memory = '2 GB'
    time = '1h'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
