/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: STAR_FIRST_ALIGN {
        ext.args   =  """
            --outFilterMismatchNmax 4 --outFilterMultimapNmax 250 \
            --chimScoreSeparation 10 --chimScoreMin 20 \
            --chimSegmentMin 15 --chimJunctionOverhangMin 10 \
            --outSAMattributes NH HI AS nM NM MD XS \
            --outSAMstrandField intronMotif --outSAMmultNmax 1 \
            --outMultimapperOrder Old_2.4 --twopassMode Basic \
            --alignSJstitchMismatchNmax 0 0 0 0 --outReadsUnmapped Fastx
        """
        publishDir = [
            [
                path: { "${params.outdir}/first_alignment/" },
                mode: params.publish_dir_mode,
                pattern: '*.{out,tab}'
            ],
            [
                path: { params.save_unaligned ? "${params.outdir}/first_alignment/unmapped" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                saveAs: { params.save_unaligned ? it : null }
            ]
        ]
    }

    withName: STAR_WITH_NOVEL_JUNCT {
        ext.args   =  """
            --outFilterMismatchNmax 4 --outFilterMultimapNmax 250 \
            --chimScoreSeparation 10 --chimScoreMin 20 \
            --chimSegmentMin 15 --alignSJoverhangMin 500 \
            --outSAMattributes NH HI AS nM NM MD XS \
            --outSAMstrandField intronMotif --outSAMmultNmax 1 \
            --outMultimapperOrder Old_2.4 --limitSjdbInsertNsj 5000000 \
            --outReadsUnmapped Fastx 
        """
        publishDir = [
            [
                path: { "${params.outdir}/second_alignment/" },
                mode: params.publish_dir_mode,
                pattern: '*.{out,tab}'
            ],
            [
                path: { params.save_unaligned ? "${params.outdir}/second_alignment/unmapped" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                saveAs: { params.save_unaligned ? it : null }
            ]
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: STRINGTIE {
        ext.args = '-m 100 --conservative -B -l R1'
    }

}
