/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: '.*:PREPARE_REF:.*' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'PREPARE_ANNOTATION_FILES' {
        memory = { 12.GB   * task.attempt }
    }

    withName: ".*:PREPARE_REF:STAR_GENOMEGENERATE" {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:PREPARE_FASTQ:.*" {
        publishDir = [
            enabled: false
        ]
    }

    withName: STAR_FIRST_ALIGN {
        ext.prefix = { meta.id + '.first_alignment' }
        ext.args   =  """ --runRNGseed 0 --readFilesCommand zcat \
            --outFilterMismatchNmax 4 --outFilterMultimapNmax 250 \
            --chimScoreSeparation 10 --chimScoreMin 20 \
            --chimSegmentMin 15 --chimJunctionOverhangMin 10 \
            --outSAMattributes NH HI AS nM NM MD XS \
            --outSAMstrandField intronMotif --outSAMmultNmax 1 \
            --outMultimapperOrder Old_2.4 --twopassMode Basic \
            --alignSJstitchMismatchNmax 0 0 0 0 --outReadsUnmapped Fastx \
            --outSAMtype BAM SortedByCoordinate
        """
        publishDir = [
            [
                path: { "${params.outdir}/first_alignment/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: '*.{out,tab,bam}'
            ],
            [
                path: { params.save_unaligned ? "${params.outdir}/first_alignment/${meta.id}/unmapped" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                saveAs: { params.save_unaligned ? it : null }
            ]
        ]
    }

    withName: FIRST_SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/first_alignment/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:TWO_PASS_ALIGNMENT:FIRST_BAM_STATS_SAMTOOLS:.*" {
        ext.prefix = { meta.id + '.first_alignment' }
        publishDir = [
            path: { "${params.outdir}/first_alignment/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CREATE_FIRSTPASS_JUNCTIONS {
        publishDir = [
            path: { "${params.outdir}/first_alignment/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: STAR_WITH_NOVEL_JUNCT {
        ext.prefix = { meta.id + '.second_alignment' }
        ext.args   =  """ --runRNGseed 0 --readFilesCommand zcat \
            --outFilterMismatchNmax 4 --outFilterMultimapNmax 250 \
            --chimScoreSeparation 10 --chimScoreMin 20 \
            --chimSegmentMin 15 --alignSJoverhangMin 500 \
            --outSAMattributes NH HI AS nM NM MD XS \
            --outSAMstrandField intronMotif --outSAMmultNmax 1 \
            --outMultimapperOrder Old_2.4 --limitSjdbInsertNsj 5000000 \
            --outReadsUnmapped Fastx --outSAMtype BAM SortedByCoordinate
        """
        publishDir = [
            [
                path: { "${params.outdir}/second_alignment/${meta.id}/" },
                mode: params.publish_dir_mode,
                pattern: '*.{out,tab,bam}'
            ],
            [
                path: { params.save_unaligned ? "${params.outdir}/second_alignment/${meta.id}/unmapped" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                saveAs: { params.save_unaligned ? it : null }
            ]
        ]
    }

    withName: SECOND_SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/second_alignment/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:TWO_PASS_ALIGNMENT:SECOND_BAM_STATS_SAMTOOLS:.*" {
        ext.prefix = { meta.id + '.second_alignment' }
        publishDir = [
            path: { "${params.outdir}/second_alignment/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:TWO_PASS_ALIGNMENT:RIBOSEQC" {
        ext.args   = {
            def args = 'count_only = T, create_report = F, stranded="auto"'
            if (params.riboseqc_readlength_choice_method == "max_coverage") {
                args += ', readlength_choice_method="max_coverage", rescue_all_rls=FALSE'
            } else if (params.riboseqc_readlength_choice_method == "all") {
                args += ', readlength_choice_method="all", rescue_all_rls=TRUE'
            }
            args
        }
        publishDir = [
            path: { "${params.outdir}/second_alignment/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_MERGE' {
        publishDir = [
            enabled: false
        ]
    }

    withName: STRINGTIE {
        ext.args = '-m 100 --conservative -l R1'
        publishDir = [
            path: { "${params.outdir}/transcriptome_assembly/merged_bams" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        container = {
            workflow.profile.tokenize(',').contains('emulate_amd64')
                ? 'ghcr.io/chelauk/stringtie:v3.0.3-arm64'
                : (
                    workflow.containerEngine in ['singularity', 'apptainer'] &&
                    !task.ext.singularity_pull_docker_container
                        ? 'https://depot.galaxyproject.org/singularity/stringtie:3.0.0--h29c0135_1'
                        : 'biocontainers/stringtie:3.0.0--h29c0135_1'
                )
        }
        containerOptions = {
            workflow.profile.tokenize(',').contains('emulate_amd64')
                ? '--platform=linux/arm64'
                : ''
        }

    }


    withName: FILTER_UNDEFINED_STRAND {
        ext.args = '\'{if ($7!=".") print $0}\''
        ext.prefix = { meta.id + '.annotated_ok' }
    }

    withName: ".*:TRANSCRIPTOME_ASSEMBLY:FILTER_UNDEFINED_STRAND" {
        publishDir = [
            path: { "${params.outdir}/transcriptome_assembly/merged_bams" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MERGE_WITH_USER_PROVIDED:GFFCOMPARE" {
        publishDir = [
            path: { "${params.outdir}/transcriptome_assembly/merge_with_user_provided" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MERGE_WITH_USER_PROVIDED:FILTER_UNDEFINED_STRAND" {
        publishDir = [
            path: { "${params.outdir}/transcriptome_assembly/merge_with_user_provided" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MERGE_WITH_USER_PROVIDED:R_MERGE_DENOVO_WITH_USER" {
        memory = { 16.GB * task.attempt }
        publishDir = [
            path: { "${params.outdir}/transcriptome_assembly/merge_with_user_provided" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MERGE_WITH_REF_ANNOTATION:GFFCOMPARE" {
        publishDir = [
            path: { "${params.outdir}/transcriptome_assembly/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MERGE_WITH_REF_ANNOTATION:FILTER_UNDEFINED_STRAND" {
        publishDir = [
            path: { "${params.outdir}/transcriptome_assembly/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:MERGE_WITH_REF_ANNOTATION:R_MERGE_DENOVO_WITH_REF" {
        memory = { 16.GB * task.attempt }
        publishDir = [
            path: { "${params.outdir}/transcriptome_assembly/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: STAR_ALIGN_RNA {
        ext.prefix = { meta.id + '_' + meta.assay_type }
        ext.args   =  """ --runRNGseed 0 --readFilesCommand zcat \
            --outFilterMismatchNmax 4 --outFilterMultimapNmax 250 \
            --chimScoreSeparation 10 --chimScoreMin 20 --chimSegmentMin 15 \
            --outSAMattributes NH HI AS nM NM MD XS --alignSJoverhangMin 500 --outReadsUnmapped Fastx \
             --outWigNorm RPM --outSAMstrandField intronMotif --outSAMmultNmax 1 \
            --outMultimapperOrder Old_2.4 --alignEndsType Local --outSAMtype BAM SortedByCoordinate \
            --limitSjdbInsertNsj 5000000
        """
        publishDir = [
            [
                path: { "${params.outdir}/final_alignment/${meta.id}/" },
                mode: params.publish_dir_mode,
                pattern: '*.{out,tab,bam}'
            ],
            [
                path: { params.save_unaligned ? "${params.outdir}/final_alignment/${meta.id}/unmapped" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                saveAs: { file -> params.save_unaligned ? file : null }
            ]
        ]
    }

    withName: RIBOSEQC_RNA {
        ext.args   = {
            def args = 'count_only = T, create_report = F, stranded="auto"'
            if (params.riboseqc_readlength_choice_method == "max_coverage") {
                args += ', readlength_choice_method="max_coverage", rescue_all_rls=FALSE'
            } else if (params.riboseqc_readlength_choice_method == "all") {
                args += ', readlength_choice_method="all", rescue_all_rls=TRUE'
            }
            args
        }
        publishDir = [
            path: { "${params.outdir}/final_alignment/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: STAR_ALIGN_RIBO {
        ext.prefix = { meta.id + '_' + meta.assay_type }
        ext.args   =  """ --runRNGseed 0 --readFilesCommand zcat \
            --outFilterMismatchNmax 3 --outFilterMultimapNmax 50 \
            --chimScoreSeparation 10 --chimScoreMin 20 --chimSegmentMin 15 \
            --outSAMattributes NH HI AS nM NM MD XS --alignSJoverhangMin 500 --outReadsUnmapped Fastx \
            --quantMode GeneCounts --outWigNorm RPM --outSAMstrandField intronMotif --outSAMmultNmax 1 \
            --outMultimapperOrder Old_2.4 --alignEndsType Local --outSAMtype BAM SortedByCoordinate \
        """
        publishDir = [
            [
                path: { "${params.outdir}/final_alignment/${meta.id}/" },
                mode: params.publish_dir_mode,
                pattern: '*.{out,tab,bam}'
            ],
            [
                path: { params.save_unaligned ? "${params.outdir}/final_alignment/${meta.id}/unmapped" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                saveAs: { file -> params.save_unaligned ? file : null }
            ]
        ]
    }

    withName: RIBOSEQC_RIBO {
        ext.args   = {
            def args = 'read_subset=FALSE, create_report = F, stranded="auto"'
            if (params.riboseqc_readlength_choice_method == "max_coverage") {
                args += ', readlength_choice_method="max_coverage", rescue_all_rls=FALSE'
            } else if (params.riboseqc_readlength_choice_method == "all") {
                args += ', readlength_choice_method="all", rescue_all_rls=TRUE'
            }
            args
        }
        publishDir = [
            path: { "${params.outdir}/final_alignment/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: UCSC_BEDGRAPHTOBIGWIG {
        publishDir = [
            path: { "${params.outdir}/final_alignment/${meta.id.replaceFirst(/(_RNA|_Ribo).*$/, '')}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:FINAL_ALIGNMENT:SAMTOOLS_INDEX" {
        publishDir = [
            path: { "${params.outdir}/final_alignment/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:FINAL_ALIGNMENT:BAM_STATS_SAMTOOLS:.*" {
        ext.prefix = { meta.id + '_' + meta.assay_type + '.final_alignment' }
        publishDir = [
            path: { "${params.outdir}/final_alignment/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GET_GO_PACKAGE {
        publishDir = [
            enabled: false
        ]
    }

    withName: MULTI_DE {
        ext.args  = 'with_bins = T, filter_maplen = T'
        ext.args2 = ''
        publishDir = [
            path: { "${params.outdir}/differential_expression/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MERGE_TO_ORFQUANT {
        publishDir = [
            enabled: false
        ]
    }

    withName: ORFQUANT {
        ext.args  = { "unique_reads_only = ${params.orfquant_unique_reads_only ? 'TRUE' : 'FALSE'}, canonical_start_only = TRUE" }
        publishDir = [
            path: { "${params.outdir}/ORFquant/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ORFDEX {
        publishDir = [
            path: { "${params.outdir}/ORFquant/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CREATE_PROTEIN_DB_WRITE_DB {
        publishDir = [
            path: { "${params.outdir}/fragpipe" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PHILOSOPHER {
        publishDir = [
            enabled: false
        ]
    }

    withName: CREATE_PROTEIN_DB_REPLACE_NAMES {
        publishDir = [
            path: { "${params.outdir}/fragpipe" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ".*:FRAGPIPE" {
        scratch = false
        containerOptions = {
            workflow.containerEngine == 'singularity' ?
            '--bind \${TMPDIR:-/tmp}:/tmp,\${TMPDIR:-/tmp}/cache:/fragpipe_bin/fragpipe-23.1/fragpipe-23.1/cache,\${TMPDIR:-/tmp}/jobs:/fragpipe_bin/fragpipe-23.1/fragpipe-23.1/jobs,\${TMPDIR:-/tmp}/config:\$HOME/.config' :
            ''
        }
        beforeScript = {
            workflow.containerEngine == 'singularity' ?
           'mkdir -p \${TMPDIR:-/tmp}/cache \${TMPDIR:-/tmp}/jobs \${TMPDIR:-/tmp}/config' : ''
        }
        publishDir = [
            path: { "${params.outdir}/fragpipe" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


}
