/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nfdata-omics/r2t2p -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input  = params.pipelines_testdata_base_path + 'R2T2P/DUX4_small_test/dux4_test.csv'
    fasta = params.pipelines_testdata_base_path + 'refs/chr19_small/GRCh38.primary_assembly.chr19.fa.gz'
    gtf = params.pipelines_testdata_base_path + 'refs/chr19_small/gencode.v49.chr19.annotation.gtf.gz'
    user_provided_annotation = params.pipelines_testdata_base_path + 'refs/chr19_small/additional_annotation_chr19.gtf'
    control_label = "0h"
    go_package = "org.Hs.eg.db"
    fragpipe_workflow = "https://raw.githubusercontent.com/nfdata-omics/test-datasets/refs/heads/R2T2P/proteomics/TMT16.workflow"
    fragpipe_manifest = "https://raw.githubusercontent.com/nfdata-omics/test-datasets/refs/heads/R2T2P/proteomics/manifest_file"
    fragpipe_TMT_annotation = "https://raw.githubusercontent.com/nfdata-omics/test-datasets/refs/heads/R2T2P/proteomics/comparison_file"

    // THE FOLLOWING PATHS SHOULD POINT TO LOCAL DIRECTORIES WHERE THE TOOLS ARE/WILL BE DOWNLOADED
    fragpipe_tools_folder = "${env('HOME')}/tools"
    fragpipe_diann_folder = "${env('HOME')}/tools/diann/diann-2.2.0/"

}
